Repository mozilla/terraform-modules, changes with the owners that CODEOWNERS names for each.
All owners: @jasonthomas, @jbuck, @bkochendorfer, @smarnach, @ahoneiser, @mikaeld

CODEOWNERS:

google_deployment_accounts/ @jasonthomas @jbuck @bkochendorfer @smarnach
google_gke/ @jasonthomas @ahoneiser @mikaeld
google_gke_tenant/ @jasonthomas @jbuck @bkochendorfer
google_tenant_project_bootstrap/ @jasonthomas @jbuck @bkochendorfer
google_workgroup/ @jasonthomas @jbuck @bkochendorfer
google_workload_identity/ @jasonthomas @jbuck @bkochendorfer

feat: allow deployments from multiple Github environments (#117)
  google_deployment_accounts/main.tf
  google_deployment_accounts/variables.tf
Owners: @jasonthomas, @jbuck, @bkochendorfer, @smarnach

Notes added by 'git notes add'
  d5a031a6ee0a743197ad0e77e47564741da18b14
Owners: none

fix: 400 error when updating existing redis instances
  google_redis/main.tf
Owners: none

fix: 400 error when updating existing redis instances (#119)
  google_redis/main.tf
Owners: none

Notes added by 'git notes add'
  98c46b7078de6e8c692e1603a0a32551a999f776
Owners: none

Added enable_public_cidrs_access var and config, set to disabled by default
  google_gke/cluster.tf
  google_gke/variables.tf
Owners: @jasonthomas, @ahoneiser, @mikaeld

feat: Added enable_public_cidrs_access var and config, set to disabled by default
  google_gke/cluster.tf
  google_gke/variables.tf
Owners: @jasonthomas, @ahoneiser, @mikaeld

feat: Added enable_public_cidrs_access var and config, set to disabled by default (#121)
  google_gke/cluster.tf
  google_gke/variables.tf
Owners: @jasonthomas, @ahoneiser, @mikaeld

Notes added by 'git notes add'
  9a50bb662980de81c3f336e51a1b7bd9fcb9012b
Owners: none

feat(google_gke): allow node_locations array (jsonencode string) for node_pools
  google_gke/cluster.tf
Owners: @jasonthomas, @ahoneiser, @mikaeld

chore(google_gke): update README.md with terraform-docs
  google_gke/README.md
Owners: @jasonthomas, @ahoneiser, @mikaeld

google_gke: validate node_pool_locations attribute, if set (#124)
  google_gke/README.md
  google_gke/cluster.tf
Owners: @jasonthomas, @ahoneiser, @mikaeld

fix(google_gke): cast use_name_prefix to bool
  google_gke/cluster.tf
Owners: @jasonthomas, @ahoneiser, @mikaeld

fix(google_gke): cast use_name_prefix to bool (#125)
  google_gke/cluster.tf
Owners: @jasonthomas, @ahoneiser, @mikaeld

Notes added by 'git notes add'
  1459df23dab898136fb596353f6655a3b2112c79
Owners: none

feat(google_gke): add gcs_fuse_csi_driver_config addon configuration
  google_gke/README.md
  google_gke/cluster.tf
  google_gke/variables.tf
  google_gke/versions.tf
Owners: @jasonthomas, @ahoneiser, @mikaeld

feat(google_gke): add gcs_fuse_csi_driver_config addon configuration
  google_gke/README.md
  google_gke/cluster.tf
  google_gke/variables.tf
  google_gke/versions.tf
Owners: @jasonthomas, @ahoneiser, @mikaeld

feat(google_gke): add gcs_fuse_csi_driver_config addon configuration (#126)
  google_gke/README.md
  google_gke/cluster.tf
  google_gke/variables.tf
  google_gke/versions.tf
Owners: @jasonthomas, @ahoneiser, @mikaeld

Notes added by 'git notes add'
  65aacaf6088f0219ed75cd4f4d4e5faf3b263442
Owners: none

feat(google_data_platform_log_sink): add module
  google_data_platform_log_sink/README.md
  google_data_platform_log_sink/main.tf
  google_data_platform_log_sink/variables.tf
  google_data_platform_log_sink/versions.tf
Owners: none

chore(google_data_platform_log_sink): add better docs and example
  google_data_platform_log_sink/README.md
  google_data_platform_log_sink/examples/README.md
  google_data_platform_log_sink/examples/example1.tf
  google_data_platform_log_sink/main.tf
  google_data_platform_log_sink/variables.tf
Owners: none

feat: Add GPU configuration for shared GKE cluster module
  google_gke/cluster.tf
Owners: @jasonthomas, @ahoneiser, @mikaeld

feat: Add GPU configuration for shared GKE cluster module (#128)
  google_gke/cluster.tf
Owners: @jasonthomas, @ahoneiser, @mikaeld

Notes added by 'git notes add'
  ada4298204081194fc7428ba1a0f2c3685c2e12c
Owners: none

feat(postgres): Replica configuration
  google_cloudsql_postgres/main.tf
  google_cloudsql_postgres/variables.tf
Owners: none

feat(postgres): Replica configuration (#129)
  google_cloudsql_postgres/main.tf
  google_cloudsql_postgres/variables.tf
Owners: none

Notes added by 'git notes add'
  c0d34efc7db3bd500bceb7ac481f48ad8297ac4a
Owners: none

fix(google_gke_namespace_logging): Default to 90 days retention as laid out by our privacy policy
  google_gke_namespace_logging/variables.tf
Owners: none

Notes added by 'git notes add'
  c941f9c1374c479f4ed9cded21341ce92037fc61
Owners: none
